@media only screen and (max-width: 900px){
   .header > div{
     width: 70%;
   }

   .row{
     display: flex;
     flex-direction: column;
     margin-bottom: 5em;
   }

  .row > div{
    padding-bottom: 5%;
  }

  .ppl{
    font-size: 1.7em;
    letter-spacing: 0.01em;

  }

  .block>div{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 5%;
  }

  .block::before{
    content: '';
    width: 15px;
    height: 15px;
    border-left: solid 1.5px black;
    border-bottom: solid 1.5px black;
    transform: rotate(45deg);
    transform-origin: 0em 2em;
  }

  .block::after{
    content: '';
    width: 15px;
    height: 15px;
    border-right: solid 1.5px black;
    border-top: solid 1.5px black;
    transform: rotate(45deg);
    transform-origin: -2em -1em;
  }

  .center-col{
    width: 80%;
  }

  .fifth-main{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/tuchbg.jpg');
    height: 1300px;
    color: white;
    padding-top: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .fifth-main > div > div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  form{
    margin-top: 10%;
  }
}
